---
import Layout from '../components/Layout.astro';
---

<Layout title="t12">
	<h1>/</h1>
	<p>warga(net) +62 yang suka <i>self-hosting</i>, <i>programming</i>, dan kadang menerjemahkan proyek <i>OSS</i></p>
	<a href="https://cdrom.tokyo/t12">Pleroma</a>
</Layout>