---
import Layout from '../components/Layout.astro';
---

<Layout title="t12">
	<main>
		<h1>t12</h1>
		<p>warga(net) +62</p>
		<a href="https://cdrom.tokyo/t12">Pleroma</a>
	</main>
</Layout>

<style>
	code {
		font-size: 0.875em;
		border: 0.1em solid hsl(17, 24%, 90%);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	main {
		margin: auto;
    padding: 1em;
		max-width: 60ch;
	}
</style>
